<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-10">
            <div class="d-flex justify-content-between mt-4 independant-card card-body bg-light">
                <div class="justify-content-center align-self-center">
                    <a href="#" class="btn btn-default btn-round"> 
                       <i class="fal fa-arrow-right"></i>
                    </a>
                </div>
                <div class="mx-auto d-flex align-self-center justify-content-center mb-sm-3 mt-sm-3">
                    <%= currentDay %>
                </div>
                <div class="justify-content-center align-self-center">
                    <a href="#" class="btn btn-default btn-round"> 
                      <i class="fal fa-arrow-left"></i>
                    </a>
                </div>
            </div>    
        </div>
       
        <% if (rides.length > 0) { %>
            <% rides.forEach(function(ride) { %>
                <div class="col-sm-12 col-lg-10">
                    <div class="independant-card card-body bg-light align-items-center" style="margin-bottom: 10px;" id="<%= ride._id %>">
                        <div class="row align-items-baseline">
                            <div class="col-3">
                                שם נסיעה: 
                                <br class="d-none d-sm-block">
                                <%= ride.name %>
                            </div>
                            <div class="col-4">
                                שעת נסיעה:
                                <br class="d-none d-sm-block">
                                <%= ride.startTime + ' - ' + ride.endTime %>
                            </div>
                            <div class="col-2">
                                מספר נוסעים: 
                                <br class="d-none d-sm-block">
                                <%= ride.numberOfPassengers %>
                            </div>
                            <div class="col-12 col-md-3 align-self-center">
                                <a href="#" class="btn btn-primary btn-round btn-only-sm-block mt-2 mt-md-0" style="padding: 9px 30px;"><i class="fal fa-check"></i></a>
                            </div>
                            
                        </div>
                        
                        <% ride.addresses.forEach(function(stop) { %>
                            <div class="row align-items-baseline mt-2 pt-2" style="border-top: 1px solid rgba(127,127,127,0.3);">
                                <div class="col-12 col-md-2">
                                    שם תחנה: 
                                    <br class="d-none d-sm-block">
                                    <%= stop.stopName %>
                                </div>
                                <div class="col-12 col-md-4">
                                    כתובת:
                                    <br class="d-none d-sm-block">
                                    <%= stop.stopAddress %>
                                </div>
                                <div class="col-12 col-md-2">
                                    מספר נוסעים: 
                                    <br class="d-none d-sm-block">
                                    <%= stop.numberOfPeopleToCollect %>
                                </div>
                                <div class="align-self-center col-12 col-md-4">
                                    
                                    <a href="tel:<%= stop.phoneNumber.replace(/\s/g, '') %>" class="btn btn-default btn-round btn-only-sm-block mr-1 mt-2 mt-md-0" style="padding: 9px 30px;"><i class="fal fa-phone"></i></a>
                                    <a href="https://www.waze.com/ul?q=<%= stop.stopAddress.replace(/,/g, ' ') %>&navigate=yes" class="btn btn-default btn-round btn-only-sm-block mt-2 mt-md-0" style="padding: 9px 30px;"><i class="fal fa-map-marked-alt"></i></a>
                                </div>
                            </div>
                        <% }); %>    
                    </div>    
                </div>
            <% }); %>
        <% } else { %>
            <div class="col-11 col-md-10">
                <div class="d-flex justify-content-center independant-card card-body bg-light">
                    לא נמצאו נסיעות לתאריך זה
                </div>    
            </div>
        <% } %>

    </div>
    <div class="d-block mt-5">
        
    </div>
</div>
<% include ../partials/footer %>
<% include ../partials/closing_tags %>