<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <div class="row align-items-center justify-content-center mt-3">
        <div id="open-form-dialog" class="btn btn-primary btn-round">
            יצירת רשומת ספק חדשה
        </div>
    </div>
    <div id="form-dialog" class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6">
                <form action="/company/<%= user.company._id %>/vendors" method="POST" class="card card-body bg-light">
                    <div class="form-group">
                        <label for="name">
                            שם חברה
                        </label>
                        <input type="text" class="form-control" name="name" required placeholder="הכנס שם משתמש">
                        <label for="vendorId">
                            תג זיהוי ספק
                        </label>
                        <input type="text" readonly="readonly" class="form-control" required name="vendorID" value="<%= vendorID %>">
                        <label for="personInfo">
                            איש קשר
                        </label>
                        <input type="text" class="form-control" name="personInfo" required placeholder="הכנס איש קשר">
                        <label for="address">
                            כתובת
                        </label>
                        <input type="text" class="form-control" name="address" required placeholder="הכנס כתובת">
                        <label for="phoneNumber">
                            טלפון
                        </label>
                        <input type="text" class="form-control" name="phoneNumber" required placeholder="טלפון">
                    </div>
                    <button type="submit" class="btn btn-primary btn-round btn-block">
                        שלח
                    </button>
                </form>
            </div>
        </div>
    </div>

    <% if (user.company.vendors && user.company.vendors.length != 0) { %>
        <div class="container mt-3 mb-3">
            <div class="row align-items-center justify-content-center">
                <% user.company.vendors.forEach(function(u){ %> 
                    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-info">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                       <h3>
                                           <%= u.name + ' (' + u.vendorID + ')' %>
                                       </h3>
                                       <h6>
                                           איש קשר: 
                                           <%= u.personInfo %>
                                       </h6>
                                       <h6>
                                           כתובת: 
                                           <%= u.address %>
                                       </h6>
                                       <h6>
                                           טלפון: 
                                           <%= u.phoneNumber %>
                                       </h6>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fal fa-building azure font-large-2 float-left"></i>
                                    </div>
                                </div>
                                <div class="mt-4 centered-buttons-container">
                                    <a class="btn btn-default btn-round btn-sm mr-2 pl-3 pr-3" href="/company/<%= user.company._id %>/vendors/<%= u._id %>/edit">עדכון</a>
                                    <% if (u.currentStatus != 'disabled') { %>
                                        <a class="btn btn-delete btn-round btn-sm mr-2 pl-3 pr-3" href="/company/<%= user.company._id %>/vendors/<%= u._id %>/change-status"> השבת <i class="fal fa-eye-slash ml-1"></i> </a>
                                    <% } else { %>
                                        <a class="btn btn-primary btn-round btn-sm mr-2 pl-3 pr-3" href="/company/<%= user.company._id %>/vendors/<%= u._id %>/change-status"> הפעלה <i class="fal fa-eye ml-1"></i> </a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>   
        
    <% } else { %>
    
        <div class="row justify-content-md-center">
            <div class="mx-auto mt-3 card card-body bg-light col-8 text-center">
     נראה שלא נוספו נהגים עדיין. הוסף נהג.
            </div>
        </div>
        
    <% } %>
    
</div>

<% include ../partials/footer %>
<% include ../partials/closing_tags %>
