<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <div class="row align-items-center justify-content-center mt-3">
        <div id="open-form-dialog" class="btn btn-primary btn-round">
            הוספת נהג חדש
        </div>
    </div>
    <div id="form-dialog" class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6">
                <form action="/company/<%= user.company._id %>/users" method="POST" class="card card-body bg-light">
                    <div class="form-group">
                        <label for="username">
                            שם משתמש (ת.ז.)
                        </label>
                        <input type="text" class="form-control" id="username" name="username" required placeholder="הכנס שם משתמש">
                        <label for="firstName">
                            שם פרטי
                        </label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required placeholder="הכנס שם פרטי">
                        <label for="lastName">
                            שם משפחה
                        </label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required placeholder="הכנס שם משפחה">
                        <label for="address">
                            כתובת
                        </label>
                        <input type="text" class="form-control" id="userAddress" name="address" required placeholder="הכנס כתובת">
                        <label for="phoneNumber">
                            מספר טלפון
                        </label>
                        <input class="form-control input-phone" id="phoneNumber" name="phoneNumber" required placeholder="הכנס מספר טלפון">
                        <label for="role">
                            תפקיד
                        </label>
                        <select id="role" readonly="readonly" name="role" class="form-control">
                            <option value="driver">
                                נהג
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-round btn-block">
                        שלח
                    </button>
                </form>
            </div>
        </div>
    </div>

    <% if (user.company.users && user.company.users.length != 0) { %>
        <div class="container mt-3 mb-3">
            <div id="users-info" curr-user="<%= user._id %>" class="row align-items-center justify-content-center">

            </div>
        </div>   
        
    <% } else { %>
    
        <div class="row justify-content-md-center">
            <div class="mx-auto mt-3  card card-body bg-light col-8 text-center">
     נראה שלא נוספו נהגים עדיין. הוסף נהג.
            </div>
        </div>
        
    <% } %>
    
</div>

<div class="modal" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        משתמש יקר,
        <br>
        אתה הולך למחוק את המשתמש הנבחר, תוצאות הפעולה זו לא ניתן שחזור
        <br><br>
        לחץ "המשך" למחיקה    
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-round btn-sm pl-3 pr-3" data-dismiss="modal">חזור</button>  
        <div id="modal-id" class="btn btn-primary btn-round btn-sm pl-3 pr-3" data-dismiss="modal">המשך</div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer_data %>
<% include ../partials/footer %>

<script type="text/javascript" src="/assets/js/user-app.js?v=<%= version %>"></script>

<script>
    (function () {
        setTimeout(function(){
            places({
                appId: "<%= PLACES_APP_ID %>",
                apiKey: "<%= PLACES_API_KEY %>",
                container: document.querySelector('#userAddress')
            }).configure({
                countries: ['il'],
                language: 'he',
                style: false
            });
        }, 400);
    }());
</script>
<% include ../partials/closing_tags %>
