<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 card card-body bg-light">
                <div class="rounded-circle cover-image mx-auto mb-3" style="background-image: url(<%= driver.userPic.url %>);">&nbsp;</div>

                <form action="/company/<%= user.company._id %>/users/<%= driver._id %>/update-photo" method="POST" id="company-logo" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="userPic" class="btn btn-default btn-round btn-block"><i class="fal fa-cloud-upload-alt"></i> 
                           בחר תמונת פרופיל
                        </label>
                        <input type="file" class="form-control" id="userPic" name="userPic" placeholder="Add new photo">
                    </div>
                </form> 
                <form action="/company/<%= user.company._id %>/users/<%= driver._id %>/edit?_method=PUT" method="POST" >
                   <div class="form-group">
                        <label for="username">
                            שם משתמש (ת.ז.)
                        </label>
                        <input type="text" readonly="readonly" class="form-control" required name="username" value="<%= driver.username %>">
                        <label for="firstName">
                            שם פרטי
                        </label>
                        <input type="text" class="form-control" name="firstName" required value="<%= driver.firstName %>">
                        <label for="lastName">
                            שם משפחה
                        </label>
                        <input type="text" class="form-control" name="lastName" required value="<%= driver.lastName %>">
                        <label for="personalID">
                            תג זיהוי עובד
                        </label>
                        <input type="text" readonly="readonly" class="form-control" required name="personalID" value="<%= driver.personalID %>">
                        <label for="address">
                            כתובת
                        </label>
                        <input type="text" class="form-control" id="userAddress" name="address" required value="<%= driver.address %>">
                        <label for="phoneNumber">
                            טלפון
                        </label>
                        <input class="form-control input-phone" name="phoneNumber" required value="<%= driver.phoneNumber %>">
                        <label for="role">
                            תפקיד
                        </label>
                        <select id="role" readonly="readonly" name="role" class="form-control">
                            <% if(driver.role == "steward") { %>
                                <option value="steward">
                                    סדרן
                                </option>
                            <% } else { %>
                                <option value="driver">
                                    נהג
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="row align-items-center justify-content-center ">
                        <div class="col-lg-8 mt-2">
                            <button type="submit" class="btn btn-primary btn-round btn-block">
                                עדכן
                            </button>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <a href="/company/<%= user.company._id %>/users" id="open-form-dialog" class="btn btn-default btn-round btn-block">
                                חזרה 
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
<script>
    (function ($) {
        $(document).ready( function() {
            $('#userPic').on('change',function(){
              var fileName = document.getElementById("userPic").files[0].name;
              verifyEnding = fileName.split(".");
              console.log(fileName);
              if (verifyEnding[verifyEnding.length-1] === 'jpg' || verifyEnding[verifyEnding.length-1] === 'png' || verifyEnding[verifyEnding.length-1] === 'jpeg') {
                  document.getElementById("company-logo").submit();
              } else {
                  console.log("Cannot upload file");
              }
            });
            
            setTimeout(function(){
                places({
                    appId: "<%= PLACES_APP_ID %>",
                    apiKey: "<%= PLACES_API_KEY %>",
                    container: document.querySelector('#userAddress')
                }).configure({
                    countries: ['il'],
                    language: 'he',
                    style: false
                });
            }, 400);
        });
    }(jQuery));
</script>

<% include ../partials/closing_tags %>