<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container-fluid">
    <% if (vendors.length > 0) { %>
        <div class="row align-items-center justify-content-center mt-3 ">
            <div id="open-form-dialog" class="btn btn-primary btn-round d-print-none">
              הוספת נסיעה חדשה
            </div>
        </div>
        <div id="form-dialog" class="col-10 col-lg-8 container mt-2 bg-light" style="padding: 1.5rem;">
            <form action="/company/<%= user.company._id %>/rides" method="POST" class="">
                <div class="row card2 card-body2 bg-light9">
                    
                    <div class="col-md-6 col-12 left-line">
                            <div class="text-left lead" style="margin-top: .5rem;">
                                פרטי נסיעה
                            </div>
                            <div class="form-group">
                                <label for="name">
                                    שם נסיעה
                                </label>
                                <input type="text" class="form-control" name="name" placeholder="שם נסיעה">
                                <label for="rideID">
                                    תג זיהוי נסיעה
                                </label>
                                <input type="number" readonly="readonly" class="form-control" name="rideID" value="<%= rideID %>">
                                <label for="personInfo">
                                    שם איש קשר
                                </label>
                                <input type="text" class="form-control" name="personInfo" placeholder=" שם איש קשר">
                                <label for="phoneNumber">
                                    טלפון איש קשר
                                </label>
                                <input class="form-control input-phone" name="phoneNumber" placeholder="0XX-XXX-XXXX">
                                <label for="rideType">
                                    סוג נסיעה
                                </label>
                                <select id="rideType" name="rideType" class="form-control">
                                    <option selected="true" disabled="disabled"> בחר סוג נסיעה </option>
                                    <option value="regular">
                                        נסיעה קבוע
                                    </option>
                                    <option value="onetime">
                                       נסיעה חד פעמית
                                    </option>
                                </select>
                                
                                <div id="regular-ride-form" class="container" style="display: none;">
                                    <label for="rideStartDate">
                                        תאריך תחילת הנסיעה
                                    </label>
                                    <input class="form-control input-date" id="startDate" name="rideStartDate" novalidate placeholder="09/09/2018">
                                    <label for="rideEndDate">
                                        תאריך סיום הנסיעה
                                    </label>
                                    <input class="form-control input-date" id="endDate" name="rideEndDate" novalidate placeholder="09/09/2019">
                                    <label for="rideType">
                                        בחר ימי שבוע לנסיע
                                    </label>
                                    <div class="form-control height-auto">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[0]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[1]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[2]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[3]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[4]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[5]" id="inlineCheckbox1" value="0">
                                        <input class="form-check-input" type="hidden" name="dayOfWeek[6]" id="inlineCheckbox1" value="0">
                                        
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[0]" id="inlineCheckbox1" value="1">
                                          <label class="form-check-label" for="inlineCheckbox1">ראשון</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[1]" id="inlineCheckbox2" value="1">
                                          <label class="form-check-label" for="inlineCheckbox2">שני</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[2]" id="inlineCheckbox3" value="1">
                                          <label class="form-check-label" for="inlineCheckbox3">שלישי</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[3]" id="inlineCheckbox1" value="1">
                                          <label class="form-check-label" for="inlineCheckbox1">רביעי</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[4]" id="inlineCheckbox2" value="1">
                                          <label class="form-check-label" for="inlineCheckbox2">חמישי</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[5]" id="inlineCheckbox3" value="1">
                                          <label class="form-check-label" for="inlineCheckbox3">שישי</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" name="dayOfWeek[6]" id="inlineCheckbox3" value="1">
                                          <label class="form-check-label" for="inlineCheckbox3">שבת</label>
                                        </div>
                                    </div>
                                    <label for="startTime">
                                        שעת תחילת הנסיעה
                                    </label>
                                    <input class="form-control input-time" id="time-form" name="startTime" placeholder="12:00">
                                    <label for="endTime">
                                        שעת סיום הנסיעה
                                    </label>
                                    <input class="form-control input-time" id="time-form" name="endTime" placeholder="13:30">
                                </div>
                                
                                <div id="onetime-ride-form" class="container" style="display: none;">
                                    <label for="rideStartDate">
                                        תאריך הנסיעה
                                    </label>
                                    <input class="form-control input-date" id="startDate" name="rideStartDate" placeholder="09/09/2018">
                                    <label for="startTime">
                                        שעת תחילת הנסיעה
                                    </label>
                                    <input class="form-control input-time" id="time-form" name="startTime" placeholder="12:00">
                                    <label for="endTime">
                                        שעת סיום הנסיעה
                                    </label>
                                    <input class="form-control input-time" id="time-form" name="endTime" placeholder="13:30">
                                </div>
                                
                                
                                <label for="vendor">
                                    ספק
                                </label>
                                <select id="vendor" name="vendor" class="form-control">
                                    <option selected="true" disabled="disabled"> -- </option>
                                    <% vendors.forEach(function(vendor){ %>
                                        <option value="<%= vendor._id %>">
                                            <%= vendor.name %>
                                        </option>
                                    <% }) %>
                                </select>
                                <label for="priceBeforeVAT">
                                    מחיר נסיעה (לפני מע"מ)
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">₪</div>
                                    </div>
                                    <input class="form-control input-price" id="priceBeforeVAT" name="priceBeforeVAT" placeholder="100">
                                </div>
                                <label for="priceBeforeVAT">
                                    מחיר נסיעה (כולל מע"מ)
                                </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">₪</div>
                                    </div>
                                    <input class="form-control input-price" id="priceAfterVAT" name="priceAfterVAT">
                                </div>
                                <label for="notes">
                                    הערות
                                </label>
                                <textarea class="form-control" rows="5" id="notes" name="notes"></textarea>
                            </div>
                    </div>
                    <div class="col-md-6 col-12">
                        
                        <div id="inputForAddStop">
                            <div class="text-left lead" style="margin-top: .5rem;">
                                תחנת תחילת הנסיעה
                            </div>
                            <label for="addresses">
                                שם התחנה
                            </label>
                            <input type="text" class="form-control" name="addresses[stopName]" placeholder="הכנס שם התחנה">
                            <label for="addresses">
                                כתובת תחנה  
                            </label>
                            <input type="text" id="inputForAddStop_start" class="form-control" name="addresses[stopAddress]" placeholder="הכנס כתובת התחנה">
                            <label for="addresses">
                                איש קשר לתחנה זו
                            </label>
                            <input type="text" class="form-control" name="addresses[contactPerson]" placeholder="הכנס איש קשר לתחנה">
                            <label for="addresses">
                                טלפון
                            </label>
                            <input class="form-control input-stop-phone inputForAddStop_start" name="addresses[phoneNumber]" placeholder="0XX-XXX-XXXX">
                            <label for="addresses">
                                כמות אנשים לאיסוף
                            </label>
                            <input type="number" class="form-control" name="addresses[numberOfPeopleToCollect]" placeholder="כמות אנשים לאיסוף">
                            <a href="javascript:void(0)" id="addStop" class="btn btn-default btn-round btn-sm btn-block mt-4 mb-4">
                               הוסף תחנת ביניים
                            </a>
                            <hr class="mb-4 mt-4">
                        </div>
                        <div id="stops">
                                    
                        </div>
                        <div id="inputForAddStop">
                            <div class="text-left lead" style="margin-top: .5rem;">
                                תחנת יעד הנסיעה
                            </div>
                            <label for="addresses">
                                שם התחנה
                            </label>
                            <input type="text" class="form-control" name="addresses[stopName]" placeholder="הכנס שם התחנה">
                            <label for="addresses">
                                כתובת תחנה  
                            </label>
                            <input type="text" id="inputForAddStop_finish" class="form-control" name="addresses[stopAddress]" placeholder="הכנס כתובת התחנה">
                        </div>
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-primary btn-round btn-block mt-4">
                    שלח
                </button>
            </form>    
        </div>
    
        <% if (rides && rides.length != 0) { %>
            <div class="row mt-3 align-items-center justify-content-center">
                <div class="col-11 col-lg-8">
                    <div class="form-inline">
                         <select id="search-type" class="form-control col-5 col-md-3" style="height: 40px;">
                            <option value="ride-name" selected>
                              שם נסיעה
                            </option>
                            <option value="ride-vendor">
                              שם ספק
                            </option>
                        </select>
                        <input class="form-control col-7 col-md-9"  id="searchInput" placeholder="הכנס מילות חיפוש">
                    </div>
                    <div id="advancedSearchForm" class="col-12 bg-light advancesSearch">
                        <div class="p-3">
                            <form action="/company/<%= user.company._id %>/rides" method="GET" style="margin:0;">
                                <div class="form-group input-group">
                                    <label for="name">
                                    סנן נסיעות בתווך תאריכים
                                    </label>
                                    <div class="align-items-center form-row justify-content-start">
                                        
                                        <div class="col-12 col-md-6 input-group mb-sm-2">
                                            <label class="col-12 col-md-4 col-sm-5">
                                                מתאריך
                                            </label>    
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <div class="today-label">
                                                      היום    
                                                    </div>
                                                    <input type="checkbox" id="fromDate" class="today-checkbox ml-1">
                                                </div>
                                            </div>
                                            <input name="fromDate" class="form-control input-date" placeholder="29/09/2018">
                                        </div>
                                        
                                        <div class="col-12 col-md-6 input-group mb-sm-2">
                                          <label class="col-12 col-md-4 col-sm-5">
                                            עד תאריך
                                          </label>
                                          <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <div class="today-label">
                                                    היום    
                                                </div>
                                                <input type="checkbox" id="toDate" class="today-checkbox ml-1">
                                            </div>
                                          </div>
                                          <input type="text" name="toDate" class="form-control input-date" placeholder="29/09/2018">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-5 offset-md-4">
                                    <button class="btn btn-primary btn-round btn-block">עדכן חיפוש</button>
                                </div>
                                
                            </form>    
                        </div>
                    </div>
                    <div class="col-12 btn btn-default" id="advancedSearch" style="border: none;">
                        <i class="fal fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <% rides.forEach(function(ride) { %>
                        <div class="row mb-1 card-body bg-light ride-card align-items-start justify-content-center">
                            <div class="col-4 col-sm-3 col-lg-2 col-print-3">
                                <strong class="ride-name" style="position: relative; top: -3px;">
                                    <%= ride.name %>
                                </strong>
                                <br>
                                <small>
                                    <% if(ride.rideType == 'onetime') { %>
                                        נסיעה חד פעמית
                                    <% } else { %>
                                        נסיעה קבוע
                                    <% } %>
                                </small>
                            </div>
                            <div class="col-3 d-none d-lg-block d-print-flex col-print-3">
                                <% if (ride.rideType == 'onetime') { %>
                                    <small class="ride-startDate">
                                    <%= ride.rideStartDateParsed %>
                                    <br>
                                        <%= ride.startTimeParsed %> - <%= ride.endTimeParsed %>
                                    </small>
                                <% } else { %>
                                    <small class="ride-startDate">
                                    <%= ride.rideStartDateParsed %> - <%= ride.rideEndDateParsed %>
                                    <br>
                                        <%= ride.startTimeParsed %> - <%= ride.endTimeParsed %>
                                    </small>
                                <% } %>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2 col-print-2">
                                    <small>
                                    <span class="ride-vendor"><%= ride.vendor.name %></span>
                                    <br>
                                        איש קשר - 
                                        <%= ride.personInfo %> - 
                                        <br>
                                        <div style="direction: ltr;"><a href='tel:<%= ride.phoneNumber.replace(/\s/g, '') %>'><%= ride.phoneNumber %></a></div>
                                    </small>
                            </div>
                            <div class="col-2 d-none d-lg-block col-print-2">
                                    <small>
                                        סה"כ נוסעים - 
                                        <br>
                                        <%= ride.numberOfPassengers %>
                                    </small>
                            </div>
                            <div class="col-sm-3 col-lg-2 d-none d-lg-block d-print-flex col-print-2">
                                    <small> 
                                    מחיר לפני מע"מ:
                                    <br>
                                    <%= ride.priceBeforeVAT %> ₪ 
                                    </small>
                            </div>
                            <div class="align-self-center col-1 d-flex d-print-none">
                                <a href="rides/<%= ride._id %>"> 
                                  <i class="fal fa-chevron-left"></i>
                                </a>
                            </div>
                        </div>
                    <!--</a>-->
                <% }); %>
            </div>
        
        <% } else { %>
        
            <div class="row justify-content-md-center">
                <div class="mx-auto mt-3  card card-body bg-light col-8 text-center">
                    נראה שלא נוספו נסיעות עדיין. הוסף נסיעה.
                </div>
            </div>
            
        <% } %>
    <% } else { %>
    <div class="row justify-content-md-center mt-5">
        <div class="mx-auto mt-3 card card-body bg-light col-8 text-center">
            נראה שלא נוספו או הופעלו ספקים. לא ניתן להוסיף נסיעה לפני הוספה או הפעלה של ספק.
        </div>
    </div>
    <% } %>
</div>



<% include ../partials/footer %>
<script type="text/javascript" src="/assets/js/rides-creation.js?v=<%= version %>"></script>
<script type="text/javascript" src="/assets/js/ride-livesearch.js?v=<%= version %>"></script>
<script>
    (function ($) {
        $(document).ready( function() {
            
            $(".today-checkbox").change(function() {
                var dateObj = new Date();
                var month = dateObj.getUTCMonth() + 1 < 10 ? ("" + dateObj.getUTCMonth() + 1) : dateObj.getUTCMonth() + 1;
                console.log(month, dateObj.getUTCMonth() + 1)
                var day = dateObj.getUTCDate() + 1 < 10 ? ("" + dateObj.getUTCDate() + 1) : dateObj.getUTCDate() + 1;
                var year = dateObj.getUTCFullYear();
                
                var newdate = day + "/" + month + "/" + year;
                
                var attr = $(this).attr( "id" );
                
                if(this.checked) {
                    $( "input[name='"+ attr +"']" ).val(newdate).attr( "readonly", "readonly" );
                } else {
                    $( "input[name='"+ attr +"']" ).removeAttr( "readonly" );
                }
                
            });
                        
            setTimeout(function(){
            
                $('#stops').on("stopAddedEvent", function(event, id){
                    places({
                        appId: "<%= PLACES_APP_ID %>",
                        apiKey: "<%= PLACES_API_KEY %>",
                        container: document.querySelector('#' + id)
                    }).configure({
                        countries: ['il'],
                        language: 'he',
                        style: false
                    });
                })
                
                places({
                    appId: "<%= PLACES_APP_ID %>",
                    apiKey: "<%= PLACES_API_KEY %>",
                    container: document.querySelector('#inputForAddStop_start')
                }).configure({
                    countries: ['il'],
                    language: 'he',
                    style: false
                });
                places({
                    appId: "<%= PLACES_APP_ID %>",
                    apiKey: "<%= PLACES_API_KEY %>",
                    container: document.querySelector('#inputForAddStop_finish')
                }).configure({
                    countries: ['il'],
                    language: 'he',
                    style: false
                });
            }, 400);
            
            $("#advancedSearch-form").hide();
            
            $( "#advancedSearch" ).click(function() {
              $( "#advancedSearch-form" ).slideToggle( "slow", function() {
                console.log("Finished!");
              });
            });
        });
    }(jQuery));
</script>
<% include ../partials/closing_tags %>
